<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand" style="text-decoration:none;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-right-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 1h12a1 1 0 0 1 1 1v11.586l-2-2A2 2 0 0 0 11.586 11H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                        <path fill-rule="evenodd" d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    <span style="vertical-align:middle;">Board</span>
                </a>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div class="page-header">
        <h1>게시글 목록</h1>
        <br>
        <p>총 <span th:text="${boardCount}"></span>개의 게시글</p>
    </div>
    <div class="pull-right" style="width:100px;margin:10px 0;">
        <a href="#" th:href="@{/new}" class="btn btn-primary btn-block">등록</a>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성(수정)일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.idx}"></td>
            <td><a href="#" th:href="@{'/' + ${board.idx}}" th:text="${board.title}"></a></td>
            <td th:text="${board.writer}"></td>
            <td th:text="${board.createdDat} ? ${#temporals.format(board.createdDat,'yyyy-MM-dd HH:mm')} : ${board.createdDat}"></td>
            <td th:text="${board.views}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <!-- Pagination -->
    <nav aria-label="Page navigation" style="text-align:center;">
        <ul class="pagination justify-content-center"
            th:with="startNumber=${T(Math).floor(boardList.number/10)}*10+1, endNumber=(${boardList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardList.totalPages}">
            <li class="page-item"><a class="page-link" aria-label="Previous" href="/?page=1">&laquo;</a></li>
            <li class="page-item" th:style="${boardList.first} ? 'display:none'">
                <a class="page-link" th:href="@{/(page=${boardList.number})}">&lsaquo;</a>
            </li>

            <li class="page-item" th:each="page :${#numbers.sequence(startNumber, endNumber)}"
                th:class="(${page} == ${boardList.number}+1) ? 'active'">
                <a class="page-link" th:href="@{/(page=${page})}" th:text="${page}"><span class="sr-only"></span></a>
            </li>

            <li class="page-item" th:style="${boardList.last} ? 'display:none'">
                <a class="page-link" th:href="@{/(page=${boardList.number}+2)}">&rsaquo;</a>
            </li>
            <li class="page-item"><a class="page-link" aria-label="Next" th:href="@{/(page=${boardList.totalPages})}">&raquo;</a></li>
        </ul>
    </nav>
    <!-- /Pagination -->
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>